@use "./variables" as var;

/* Root */
* {
    margin: 0;
    padding: 0;
    zoom: 1;
    box-sizing: content-box;
}

html {
    font-size: var.$root-font-size;
    scroll-behavior: smooth;
}

/**
 * Ancher
 */
a[target="_blank"] {
    margin: 0 0 0 3px;
    font-weight: 900;
    font-style: normal;

    &:after {
        font: var(--fa-font-solid);
        content: "\f08e"; // ここにアイコンのUnicodeコードを入力
    }
}

/**
 * Header / ヘッダー
 */
header {
    background-color: var.$bg-black;

    * {
        @include var.fc("white");
    }

    // wrapper
    .hd-content {
        // 画面全体の幅および余白設定
        @include var.mq("sp") {
            width: var.get-width-rate("sp");
        }

        @include var.mq("pc") {
            width: var.get-width-rate("pc");
            max-width: var.$pc-max-width;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        margin-left: auto;
        margin-right: auto;

        // 左側ロゴ
        .hd-logo {
            display: flex;
            align-items: center;
            height: 55px;

            // バーガーメニューをSPで表示するための設定
            @include var.mq("sp") {
                width: 100%;
                justify-content: space-between;
            }

            .logo-title {
                display: inline-block;
            }

            .logo-title {
                margin-left: var.bs();
                word-break: keep-all;
                text-decoration: none;
            }

        }

        // ナビゲーションなどのコンテンツ
        .hd-nav-sub {
            display: block;
            @include var.animetion();
            height: 27px;

            ul {
                display: flex;
                height: 100%;

                li {
                    display: flex;
                    align-items: center;
                    margin: 0 12px;

                    a {
                        display: block;
                        transition: var.$transition;
                    }

                    a:hover {
                        text-decoration: none;
                        @include var.fc("white", "hover");
                    }
                }

            }
        }
    }
}
// Header

/*
 * UX
 */
// PC, SP 不要なメニュー非表示
@include var.mq("pc") {
    .header-nav-sp {
        display: none !important;
    }
}
@include var.mq("sp") {
    .header-nav-pc {
        display: none !important;
    }
}

/*
 * Barger ボタン
 */
#barger {
    // PCでは非表示に
    @include var.mq("pc") {
        display: none;
    }

    // SP用設定
    margin: 0 var.bs();
    font-size: 1.6rem;
    @include var.fc("white");
}
// Barger

/**
 * Footer / フッター
 */
footer {
    padding: 12px 24px;
    background-color: var.$bg-black;

    * {
        @include var.fc("white");
    }

    /*
     * Floating Icons
     */
    #floating-icons {

        * {
            color: var.$bg-black !important; // Footer の color 設定上書き
        }

        position: fixed;
        bottom: 10px;
        right: 10px;
        padding: 24px 12px;

        .page-up-arrow {
            text-shadow:1px 1px 0 #FFF, -1px -1px 0 #FFF,
                -1px 1px 0 #FFF, 1px -1px 0 #FFF,
                0px 1px 0 #FFF,  0-1px 0 #FFF,
                -1px 0 0 #FFF, 1px 0 0 #FFF;
        }
    }
    // Floating Icons
}
// Footer