// ArticleCardコンテナ全体のスタイル
.ArticleCard_container {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;

  // メインリンクのスタイル
  .ArticleCard_mainLink {
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; // 要素全体の高さをいっぱいにする
  }

  // 絵文字コンテナのスタイル
  .ArticleCard_emojiContainer {
    font-size: 24px;
    margin-bottom: 8px;
  }

  // タイトルコンテナのスタイル
  .ArticleCard_titleContainer {
    margin-bottom: 8px;

    .ArticleCard_title {
      font-size: 18px;
      margin: 0;
    }
  }

  // メタ情報のスタイル
  .ArticleCard_meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #666;

    // 日付といいね数のスタイル
    .ArticleCard_dateAndLikes {
      display: flex;
      align-items: center;

      // 日付のスタイル
      time {
        margin-right: 8px;
        color: #999;
      }
    }
  }

  // ホバー時のスタイル
  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}
